extends layout

block title 
    | Charge point ##{serialno}

block content
    h2 CP ##{serialno}

    fieldset
        legend Actions
        button.w3-btn.w3-border.w3-ripple#act-heartbeat Send Heartbeat
        button.w3-btn.w3-border.w3-ripple#act-boot Send BootNotification
        button.w3-btn.w3-border.w3-ripple#act-startautocharge Start Auto-charging
        

    fieldset
        legend Driver UIDs
        .w3-border.w3-padding
            form(action="/setcpduids", method="post", enctype="multipart/form-data")
                label(for="uid-upload") Upload a Driver UID file in csv format
                input#uid-upload.w3-margin-left.w3-border(type="file", name="uid")
                button.w3-btn.w3-border.w3-round.w3-margin-left(type="submit") Upload

        ol
            each uid in uids
                li UID ##{uid}
    
    fieldset
        legend Status
        pre#status.
            Things are working fine.
            Let's see how they do...