extends layout

block title
    | Welcome to NewMotion Charge point simulator

block content
    h2 Welcome

    fieldset
        legend Active charge points
        ul
            each cp in active
                li.w3-hover-text-red.cplink
                    a(href=`/cp/${cp.serialno}`) CP ##{cp.serialno}
