<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Charge Point Simulator
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", href="/static/jquery-ui/jquery-ui.min.css")
        link(rel="stylesheet", href="/static/jquery-ui/jquery-ui.structure.min.css")
        link(rel="stylesheet", href="/static/jquery-ui/jquery-ui.theme.min.css")
    body
        .w3-container
            h1 Charge Point Simulator
            

        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="/static/jquery-ui/jquery-ui.min.js")