html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}
.uid-block{
    display: inline-block;
    cursor: default;
}
#console{
    height: 400px;
    background-color: black;
    color: white; 
    overflow: auto;
    padding: 5px;
}
.cplink>button{
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 3px;
    color: red;
    margin-left: 10px;
}
.cplink>button:hover{
    border-color: red;
}

.login-form{
    max-width: 500px;
}